/*--------------------*/
/* AUTHOR */
/*--------------------*/


#mu-author {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-author-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-author-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-author-image {
	display: inline;
	float: left;
	width: 90%;
}

.mu-author-info {
	display: inline;
	float: right;
	margin-top: 20px;
	width: 90%;
}

.mu-author-info h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.mu-author-info p {
	margin-bottom: 20px;
}

.mu-author-social {
	display: inline;
	float: left;
	width: 100%;
	margin-left: 50px; /* cambia el margen de los íconos */
}



.mu-author-social a {
	display: inline-block;
	font-size: 16px;
	padding: 5px;
	margin-right: 10px;
	color: #fff;
	width: 35px;
	text-align: center;
}