/*--------------------*/
/* FAQ */
/*--------------------*/

#mu-faq {
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
  }

  .mu-faq-area {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

  .accordion {
    background-color: #fff;
  }

  .accordion label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: transparent;
    color: #ff871c;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
  }

.accordion .content-accordion {
  padding: 0;
  margin: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.btn-accordion:checked ~ .content-accordion {
  max-height: 600px;
  padding: 15px 0;
}

.btn-accordion {
  display: none;
}


