/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {
	.mu-hero-left h1 {
		font-size: 36px;
	}

	.navbar-brand img {
		width: 180px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}

	.mu-author-info {
		margin-top: 0px;
	}

	.mu-pricing-single img {
		max-width: 100%;
	}
	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }

	span.redline {
		font-size: 25px;
	}

}

@media (max-width: 991px) {
	
	.mu-fixed-nav .navbar-brand {
		font-size: 25px;
	}
	
	.navbar-default .mu-menu li a {
		font-size: 14px;
		margin: 10px 5px;
		padding-top: 0;
	}	

	#mu-hero {
		padding: 130px 0 30px;
	}

	.mu-hero-right {
		margin-top: 40px;
	}

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-single-counter {
		margin-top: 15px;
		margin-bottom: 40px;
	}

	.mu-simplefilter li{
		margin-bottom: 10px;
	}

	.mu-clients-content-single img{
		width: 100%;
	}

	.mu-contact-right {
		margin-top: 50px;
	}
	
	.mu-ebook-review-content {
		padding: 0 5%;
	}

	.mu-pricing-single img {
		max-width: 100%; /* Hacer la imagen responsiva */
	}

	.mu-hero-right img {
        max-width: 100%; /* Asegura que la imagen no se corte y se ajuste al ancho del contenedor */
        height: auto; /* Ajusta la altura automáticamente para mantener la proporción de aspecto */
    }

	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }
	.container-header {
		margin-left: 25px;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: -50px;
		padding: 0 5px;
		}

		#mu-header.mu-fixed-nav {
			padding: 25px 0px 45px 7px;
		}

		span.redline {
			font-size: 20px;
			margin-top: 500px;
		}
}

@media (max-width: 990px) {
    #mu-header.mu-fixed-nav {
        padding: 25px 0 45px 30px;
    }

    .container-header {
        margin-left: 50px; /* Ajusta o elimina este margen según sea necesario */
    }

    .navbar-default .mu-menu {
        margin-right: -50px; /* Ajusta o elimina este margen según sea necesario */
    }

}

@media (max-width: 900px) {
    .mu-hero-right img {
        max-width: 120%;
		height: auto;

    }
}

@media (max-width: 850px) {
    #mu-header.mu-fixed-nav {
        padding: 25px 50px 45px 0px;
    }

    .container-header {
        margin-left: 30px; /* Ajusta o elimina este margen según sea necesario */
    }

    .navbar-default .mu-menu {
        margin-right: -10px; /* Ajusta o elimina este margen según sea necesario */
    }
}

@media (max-width: 800px) {
    .mu-hero-right img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {

	.navbar-default .navbar-brand {
		margin-top: -7px;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		margin-top: 25px;
		text-align: center;
	}

	.navbar-default .mu-menu li a {
		display: inline-block;
	}

	.mu-hero-right {
		margin: 0;
	}

	.mu-hero-right img {
		max-width: 0%;
		height: auto;
	}

	#mu-hero {
		padding: 130px 0 60px;
	}

	.mu-author-info {
		margin-top: 30px;
	}

	.mu-contact-content {
		padding: 0 10%;
	}

	.mu-pricing-single img {
		max-width: 100%; /* Hacer la imagen responsiva */
	}

	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }

	.navbar-default .navbar-toggle {
		margin-top: 25px;
	}
	.mu-hero-left {
		padding-bottom: 30px;
	}
}

@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 50px 0;
	}
	
	.mu-heading-area {
		padding: 0;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}
	
	.mu-pricing-single img {
		max-width: 100%; /* Hacer la imagen responsiva */
	}

	.mu-hero-right img {
        max-width: 70%;
        height: auto;
    }

	#mu-header.mu-fixed-nav{
		padding: 10px 0px 45px 0;
	}
}


@media (max-width: 480px) {

	.navbar-brand img {
		width: 150px;
	}

	#mu-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand {
		font-size: 25px;
		margin-top: -3px;
	}

	.navbar-toggle {
		padding: 7px 8px;
		margin-top: 10px;
	}

	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-contact-content {
		padding: 0 5%;
	}

	.mu-about-content-single h4 {
		margin-bottom: 18px;
	}

	.mu-team-social-info a {
		width: 35px;
		height: 35px;
		font-size: 16px;
		line-height: 35px;
	}

	.mu-contact-form button {
		width: 100%;
	}

	.mu-pricing-single img {
		max-width: 100%; /* Hacer la imagen responsiva */
	}

	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }

	.navbar-default .navbar-toggle {
		margin-top: 30px;
	}
}


@media (max-width: 360px){

	.mu-featured-slider-content {
		top: 49%;
	}

	.mu-featured-slider-content p,
	.mu-featured-slider-content .mu-primary-btn {
		display: none;
	}

	.mu-featured-slider-content h1 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.mu-filter-item-content {
		padding-top: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.filtr-item h4 {
		font-size: 12px;
	}

	.mu-team-content .row > div {
		width: 100%;
	}

	.mu-simplefilter li {
		padding: 1rem 1rem;
		font-size: 12px;
	}
	
	.mu-pricing-single img {
		max-width: 100%; /* Hacer la imagen responsiva */
	}

	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 295px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 55px;
	}

	.mu-hero-right img {
        max-width: 100%;
        height: auto;
    }

	#mu-header.mu-fixed-nav{
		padding: 10px 0px 45px 0;
	}
}

@media (min-width: 769px) {

	.accordion .content-accordion {
		margin: 0 50px 0 220px;
	}

	.accordion label {
		margin-left: 100px;
	}

}
